body {
    margin: 0;
}

.time {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100vw;
    transform: translateY(-50%);
    font-size: 60px;
    text-align: center;
    font-family: monospace;
}

button {
    font-size: 44px;
    margin: 30px;
}
